<%= form_for :drink, method: :put do |f| %>
  <p>
    <%= f.label 'Your E-Mail' %><br>
    <%= f.email_field :builder_email %>
  </p>
  <p>
    <%= f.label 'Your Firstname' %><br>
    <%= f.email_field :first_name %>
  </p>
  <p>
    <%= f.label 'Your Lastname' %><br>
    <%= f.email_field :last_name %>
  </p>
  <%= f.submit %>

<% end %>
